
.glb {

  display: inline-flex;
  padding: 20px;

}

.firstTable {

  display: inline-block;
}




.tlb {
  width: 450px;
  height: 800px;
  overflow-y: scroll;
  padding-right: 10px;
  align-items: center;


}

.firstTable{
    border-right: 2px solid black;
}

.tlbrow:hover {
  font-size: 21px;
  transition-duration: 0.4s;
  background-color: #e8eaed;

}

.beerinsight {
  padding: 20px;

}


.tlb_sel {
  display: inline-flex;
  padding: 20px;
}
