

.btd-glb{
  display: inline-flex;
  padding: 10px;
}

.selection{
  padding: 10px;
  padding-bottom: 20px;
  background-color: darkgrey;
  border-radius: 20px;
  width: 25vh;
  height: 25vh;
}

.selection h2{
  color:white;
}

.bartenderinfo{
  padding-left: 25px;
  display: inline-block;
}
