

.btd-glb{
  display: inline-flex;
  padding: 10px;
}

.selection{
  padding: 10px;
  padding-bottom: 20px;
  background-color: darkgrey;
  border-radius: 20px;
  width: 50vh;
}

.selection h2{
  color:white;
}
