

.btd-glb{
  display: inline-block;
  padding: 10px;
}

.selection{
  display:inline-block;
  padding: 10px;
  padding-bottom: 20px;
  background-color: darkgrey;
  border-radius: 20px;
  width: 25vh;
  height: 25vh;
}

.selection h2{
  color:white;
}

.bartenderinfo{
  padding-left: 25px;
  display: inline-block;
}

.test{
  padding: 30px;
  width: 100vh;
}


.firstset{
  display: inline-flex;
}

.analytics{
  height: 500px;
  background-color: #f2f4f7;
}
