

.gra{
  width: 200px;
  height: 400px;
  background-color: red;
}

.actualInsights{
  display: inline-block;
  overflow-y: scroll;
  width: 100vh;
  height:100vh;

}

.TopBuyers{
  padding-bottom: 20px;
}

.glb {

  display: inline-flex;
  padding: 20px;

}

.firstTable {

  display: inline-block;
}

.beerinsight{
  display: inline;
  padding: 10px;
}

.beerinsightgraphtitle{
  color: grey;
  text-align: center;
}


.tlb {
  width: 450px;
  height: 100vh;
  overflow-y: scroll;
  padding-right: 10px;
  align-items: center;


}

.firstTable{
    border-right: 2px solid black;
}

.tlbrow:hover {
  font-size: 21px;
  transition-duration: 0.4s;
  background-color: #e8eaed;

}


.tlb_sel {
  display: inline-flex;
  padding: 15px;
}
